
.container2 {
 border:2px solid #2eb8b8; 
 width:300px; 
 height: 150px; 
 overflow-y: 
 scroll; }

.checkbox2 {
    height: 15px;
}

 .btn {
  background-color: #2eb8b8;
  color: white;
 }

 .rest-btn {
  background-color: #2eb8b8;
  color: white;
 }

.bar-btn {
  background-color: #2eb8b8;
  color: white;
 }

.act-btn {
  background-color: #2eb8b8;
  color: white;
 }

 th {
  background-color: #2eb8b8;
  color: white;
 }