{% extends 'base.html' %}
{% block content %}

<h3>Restaurant Genres:</h3>

<form action="results" method="GET">

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="newamerican"> American
        </label>
    </div>

    <div>
        <label>
             <input type="checkbox" name="restaurant" value="asianfusion"> Asian Fusion
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="bbq"> Barbeque
        </label>
    </div>

    <div>
        <label>
             <input type="checkbox" name="restaurant" value="breakfast_brunch"> Breakfast/Brunch
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="caribbean"> Caribbean
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="chinese"> Chinese
        </label>
    </div>

    <div>
        <label>
             <input type="checkbox" name="restaurant" value="cuban"> Cuban
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="hotdogs"> Fast Food
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="french"> French
        </label>
    </div>

    <div>
        <label>
             <input type="checkbox" name="restaurant" value="german"> German
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="gluten_free"> Gluten-Free
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="indian"> Indian
        </label>
    </div>

    <div>
        <label>
             <input type="checkbox" name="restaurant" value="italian"> Italian
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="japanese"> Japanese
        </label>
    </div>

    <div>
        <label>
             <input type="checkbox" name="restaurant" value="korean"> Korean
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="kosher"> Kosher
        </label>
    </div>

    <div>
        <label>
             <input type="checkbox" name="restaurant" value="latin"> Latin American
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="mediterranean"> Mediterranean
        </label>
    </div>

    <div>
        <label>
             <input type="checkbox" name="restaurant" value="mexican"> Mexican
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="mideastern"> Middle Eastern
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="portuguese"> Portuguese
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="russian"> Russian
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="spanish"> Spanish
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="steak"> Steakhouse
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="sushi"> Sushi
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="thai"> Thai
        </label>
    </div>

    <div>
        <label>
             <input type="checkbox" name="restaurant" value="vegetarian"> Vegetarian/Vegan
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="restaurant" value="vietnamese"> Vietnamese
        </label>
    </div>

    
<h3>Types of Bars:</h3>

    <div>
        <label>
            <input type="checkbox" name="bar" value="beerbar"> Beer Bars
        </label>
    </div>

    <div>
        <label>
             <input type="checkbox" name="bar" value="champagne_bars"> Champagne Bars
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="bar" value="cocktailbars"> Cocktail Bars
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="bar" value="divebars"> Dive Bars
        </label>
    </div>

    <div>
        <label>
             <input type="checkbox" name="bar" value="gaybars"> Gay Bars
        </label>
    </div>

    <div>
        <label>
             <input type="checkbox" name="bar" value="lounges"> Lounges
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="bar" value="pubs"> Pubs
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="bar" value="sportsbars"> Sports Bars
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="bar" value="whiskeybars"> Whiskey Bars
        </label>
    </div>

    <div>
        <label>
            <input type="checkbox" name="bar" value="wine_bars"> Wine Bars
        </label>
    </div>

    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}