{% extends 'base.html' %}
{% block content %}

<h3>Please choose the types of restaurants you like:</h3>
<form action="results" method="GET">
        <label>
            <input type="checkbox" name="restaurant" value="restaurants"> All Restaurants
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="newamerican"> American
        </label>
        <label>
             <input type="checkbox" name="restaurant" value="asianfusion"> Asian Fusion
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="bbq"> Barbeque
        </label><br>
        <label>
             <input type="checkbox" name="restaurant" value="breakfast_brunch"> Breakfast/Brunch
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="caribbean"> Caribbean
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="chinese"> Chinese
        </label><br>
        <label>
             <input type="checkbox" name="restaurant" value="cuban"> Cuban
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="hotdogs"> Fast Food
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="french"> French
        </label><br>
        <label>
             <input type="checkbox" name="restaurant" value="german"> German
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="gluten_free"> Gluten-Free
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="indpak"> Indian
        </label><br>
        <label>
             <input type="checkbox" name="restaurant" value="italian"> Italian
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="japanese"> Japanese
        </label>
        <label>
             <input type="checkbox" name="restaurant" value="korean"> Korean
        </label><br>
        <label>
            <input type="checkbox" name="restaurant" value="kosher"> Kosher
        </label>
        <label>
             <input type="checkbox" name="restaurant" value="latin"> Latin American
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="mediterranean"> Mediterranean
        </label><br>
        <label>
             <input type="checkbox" name="restaurant" value="mexican"> Mexican
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="mideastern"> Middle Eastern
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="portuguese"> Portuguese
        </label><br>
        <label>
            <input type="checkbox" name="restaurant" value="russian"> Russian
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="spanish"> Spanish
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="steak"> Steakhouse
        </label><br>
        <label>
            <input type="checkbox" name="restaurant" value="sushi"> Sushi
        </label>
        <label>
            <input type="checkbox" name="restaurant" value="thai"> Thai
        </label>
        <label>
             <input type="checkbox" name="restaurant" value="vegetarian"> Vegetarian/Vegan
        </label><br>
        <label>
            <input type="checkbox" name="restaurant" value="vietnamese"> Vietnamese
        </label>

<h3>Please choose the types of bars you like:</h3>
        <label>
            <input type="checkbox" name="bar" value="bars"> All Bars
        </label>
        <label>
            <input type="checkbox" name="bar" value="beerbar"> Beer Bars
        </label>
        <label>
             <input type="checkbox" name="bar" value="champagne_bars"> Champagne Bars
        </label>
        <label>
            <input type="checkbox" name="bar" value="cocktailbars"> Cocktail Bars
        </label><br>
        <label>
            <input type="checkbox" name="bar" value="divebars"> Dive Bars
        </label>
        <label>
             <input type="checkbox" name="bar" value="gaybars"> Gay Bars
        </label>
        <label>
             <input type="checkbox" name="bar" value="lounges"> Lounges
        </label><br>
        <label>
            <input type="checkbox" name="bar" value="pubs"> Pubs
        </label>
        <label>
            <input type="checkbox" name="bar" value="sportsbars"> Sports Bars
        </label>
        <label>
            <input type="checkbox" name="bar" value="whiskeybars"> Whiskey Bars
        </label>
        <label>
            <input type="checkbox" name="bar" value="wine_bars"> Wine Bars
        </label>

<h3>What types of activities would you like to do?:</h3>
        <label>
            <input type="checkbox" name="activity" value="galleries"> Art Galleries
        </label>
        <label>
            <input type="checkbox" name="activity" value="aquariums"> Aquariums
        </label>
        <label>
            <input type="checkbox" name="activity" value="beaches"> Beaches
        </label><br>
        <label>
            <input type="checkbox" name="activity" value="bikerentals"> Bike Rentals
        </label>
        <label>
            <input type="checkbox" name="activity" value="gardens"> Botanical Gardens
        </label>
        <label>
            <input type="checkbox" name="activity" value="bowling"> Bowling
        </label><br>
        <label>
            <input type="checkbox" name="activity" value="casinos"> Casinos
        </label>
        <label>
            <input type="checkbox" name="activity" value="movietheaters"> Cinemas
        </label>
        <label>
            <input type="checkbox" name="activity" value="comedyclubs"> Comedy Clubs
        </label><br>
        <label>
            <input type="checkbox" name="activity" value="danceclubs"> Dance Clubs
        </label>
        <label>
            <input type="checkbox" name="activity" value="farms"> Farms
        </label>
        <label>
            <input type="checkbox" name="activity" value="festivals"> Festivals
        </label><br>
        <label>
            <input type="checkbox" name="activity" value="hiking"> Hiking
        </label>
        <label>
            <input type="checkbox" name="activity" value="horsebackriding"> Horseback Riding
        </label>
        <label>
            <input type="checkbox" name="activity" value="hotsprings"> Hot Springs
        </label><br>
        <label>
            <input type="checkbox" name="activity" value="jazzandblues"> Jass/Blues Clubs
        </label>
        <label>
            <input type="checkbox" name="activity" value="kids_activities"> Kids Activities
        </label>
        <label>
            <input type="checkbox" name="activity" value="museums"> Museums
        </label><br>
        <label>
            <input type="checkbox" name="activity" value="musicvenues"> Music Venues
        </label>
        <label>
            <input type="checkbox" name="activity" value="opera"> Opera/Ballet
        </label>
        <label>
            <input type="checkbox" name="activity" value="parks"> Parks
        </label><br>
        <label>
            <input type="checkbox" name="activity" value="theater"> Performing Arts
        </label>
        <label>
            <input type="checkbox" name="activity" value="planetarium"> Planetariums
        </label>
        <label>
            <input type="checkbox" name="activity" value="sportsteams"> Professional Sports
        </label><br>
        <label>
            <input type="checkbox" name="activity" value="racetracks"> Racetracks
        </label>
        <label>
            <input type="checkbox" name="activity" value="rafting"> Rafting/Kyaking
        </label>
        <label>
            <input type="checkbox" name="activity" value="shopping"> Shopping
        </label><br>
        <label>
            <input type="checkbox" name="activity" value="spas"> Spas
        </label>
        <label>
            <input type="checkbox" name="activity" value="tea"> Tea Rooms
        </label>
        <label>
            <input type="checkbox" name="activity" value="tours"> Tours
        </label><br>
        <label>
            <input type="checkbox" name="activity" value="wineries"> Wineries
        </label>
        <label>
            <input type="checkbox" name="activity" value="zoos"> Zoos
        </label> <br> <br>
    <div>
        <label>
            Please enter a city and state to search:
            <input type="text" name="location"> 
        </label>
    </div>
    <div>How large would you like your search radius to be?
        <select name="radius">
            <option value="8000">5 miles</option>
            <option value="16000">10 miles</option>
            <option value="24000">15 miles</option>
            <option value="32000">20 miles</option>
            <option value="40000">25 miles</option>
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}