{% extends 'base.html' %}
{% block content %}
<title>Login</title>
<div class="outer-div">
    <div class="inner-div">

    <h1>Login</h1>

    <form action="/login" method="POST">
        <div class="formwords">
            <label>Email <br>
                <input type="email" class="forminput" name="email" value="whit@gmail.com"required>
            </label>
        </div>

        <div class="formwords">
            <label>Password <br>
                <input type="password" class="forminput" value="blah" name="password" required>
            </label>
        </div>

        <div class="submitbtn">
            <input class="btn" type="submit" value="Log In">
        </div>
    </form>

    <div class="extrawords">
        Not a user yet?<a href="/register"><br>Register</a>
    </div>

    </div>
</div>
{% endblock %}