{% extends 'base.html' %}
{% block content %}

<title>Register</title>
<div class="outer-div">
    <div class="inner-div2">
<h1>Register</h1>

<form action="register" method="POST">
    <div class="formwords">
        <label>
            First Name <br>
            <input type="text" class="forminput" name="fname">
        </label>
    </div>
    <div class="formwords">
        <label>
            Last Name <br>
            <input type="text" class="forminput" name="lname">
        </label>
    </div>
    <div class="formwords">
        <label>
            Email <br>
            <input type="email" class="forminput" name="email">
        </label>
    </div>
    <div class="formwords">
        <label>
            Password <br>
            <input type="password" class="forminput" name="password">
        </label>
    </div>
    <div class="submitbtn">
        <input class="btn" type="submit" value="Register">
    </div>
</form>

<div class="extrawords">
<p>Already registered?<br><a href="/">Login</a></p>
</div>
</div>

{% endblock %}