{% extends 'base.html' %}
{% block content %}
<div class="outer-div2">
    <div class="inner-div3">
        <h2 class="triptitle">Trip Details - {{ trip.name }}</h2>

        {% if trip.restaurants %}

        <h3>Restaurants</h3>
          <table class="table table-bordered tablecenter">
            <thead>
              <tr>
                <th>Restaurant Name</th>
                <th>City</th>
              </tr>
            </thead>
            <tbody>
                {% for restaurant in trip.restaurants %}
              <tr>
                <td><a href="{{ restaurant.rest_url }}" target="_blank">
                    {{ restaurant.rest_name }}</a></td>
                <td>{{ restaurant.rest_city }}</td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
        {% endif %}

    {% if trip.bars %}

        <h3>Bars</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Bar Name</th>
                <th>City</th>
              </tr>
            </thead>
            <tbody>
                {% for bar in trip.bars %}
              <tr>
                <td><a href="{{ bar.bar_url }}" target="_blank">
                    {{ bar.bar_name }}</a></td>
                <td>{{ bar.bar_city }}</td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
        {% endif %}

    {% if trip.activities %}

        <h3>Activities</h3>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Activity Name</th>
                <th>City</th>
              </tr>
            </thead>
            <tbody>
                {% for activity in trip.activities %}
              <tr>
                <td><a href="{{ activity.act_url }}" target="_blank">
                    {{ activity.act_name }}</a></td>
                <td>{{ activity.act_city }}</td>
              </tr>
                {% endfor %}
            </tbody>
          </table>
        {% endif %}
        <div class="submitbtn">
        <a class="btn" href="/profile">Back to profile</a>
        </div>
    </div>
</div>



{% endblock %}

