{% extends 'base.html' %}
{% block content %}
<title>{{ user }}'s Profile</title>
    <h3>Hello {{ user }}</h3>
    {% if trips %}
    <h4>Here are your saved trips:</h4>
    {% for trip in trips %}
    <p><a href="/trip/{{ trip.trip_id }}"> {{ trip }} </a> </p>
    {% endfor %}
    {% endif %}
    <!-- <form >
        <input type='submit'>
    </form> -->
    <button type="button" class="btn">Plan New Trip</button>

<script type="text/javascript">

function makeNewTrip(evt) {
  payload = {

    "trip_id": this.dataset.trip_id
  };

}

$('.btn').on('click', makeNewTrip);

</script>

   
{% endblock %}